[*.cs]

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = none

# SA1106: Code should not contain empty statements
dotnet_diagnostic.SA1106.severity = none

# SA1107: Code should not contain multiple statements on one line
dotnet_diagnostic.SA1107.severity = none

# SA1501: Statement should not be on a single line
dotnet_diagnostic.SA1501.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = none

# SA1005: Single line comments should begin with single space
dotnet_diagnostic.SA1005.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1306: Field names should begin with lower-case letter
dotnet_diagnostic.SA1306.severity = none

# SA1502: Element should not be on a single line
dotnet_diagnostic.SA1502.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none
